# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
VITE_SUPABASE_PROJECT_ID="puejddoxbnapzfpxvful"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1ZWpkZG94Ym5hcHpmcHh2ZnVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyNzE2MDEsImV4cCI6MjA4MDg0NzYwMX0.qX7Sc4I3_tainY2y_CVpCH3i_pobNSGTjlT-rj7HVVU"
VITE_SUPABASE_URL="https://puejddoxbnapzfpxvful.supabase.co"
